.todo-element{
display: flex;
align-items: center;
border: solid 2px;
background-color: white;
width: 100%;
}
.todo-element > *{
    padding: 15px;
}
.todo-element button{
    border-radius: 10px;
}
input[type="checkbox"]{
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    cursor: pointer;
}
input[type="checkbox"]:checked{
    background: linear-gradient(hsl(192, 100%, 67%),hsl(280, 87%, 65%));
}